.section2 {
  background: #ddbea9;
  color: #000000;
  margin: 30px auto;
  padding: 15px;
  width: 500px; }

.section1 {
  background: #cb997e;
  color: #000000;
  margin: 30px auto;
  padding: 15px;
  width: 500px; }

.row {
  *zoom: 1;
  margin: 0 auto;
  max-width: 92.308em; }
  .row:before, .row:after {
    display: table;
    content: ' '; }
  .row:after {
    clear: both; }

.message, .success, .error, .warning {
  border: 1px solid #ccc; }

.success {
  border-color: green; }

.error {
  border-color: red; }

.warning {
  border-color: yellow; }

.column-1 {
  float: left;
  width: 8.33333%; }

.column-2 {
  float: left;
  width: 16.66667%; }

.column-3 {
  float: left;
  width: 25%; }

.column-4 {
  float: left;
  width: 33.33333%; }

.column-5 {
  float: left;
  width: 41.66667%; }

.column-6 {
  float: left;
  width: 50%; }

.column-7 {
  float: left;
  width: 58.33333%; }

.column-8 {
  float: left;
  width: 66.66667%; }

.column-9 {
  float: left;
  width: 75%; }

.column-10 {
  float: left;
  width: 83.33333%; }

.column-11 {
  float: left;
  width: 91.66667%; }

.column-12 {
  float: left;
  width: 100%; }

p {
  color: green; }
